.navbar {
    background-color: black;
    display:flex; 
}
a {
    color: azure;
    text-decoration: none;
    padding: 0 2%;
    
    
}
img {
    padding-left: 20%;
    padding-top: 4%;
}
button {
    background-color: #6495ED;
    border-radius: 10px;
    color: white;
    font-weight: 800;
}
.liens {
    text-align: right;
    flex-basis: 70%;
    padding-top: 2%;
}